<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <img src="https://atelierducocktail.com/wp-content/uploads/2015/10/Logo_Atelier_Paille_digital.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Add a <i class='fas fa-cocktail'></i>".html_safe, new_cocktail_path %>
</div>